
*{
    font-family: arial;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #D6CDC8;
    background-image: url("https://ik.imagekit.io/artim/birgadeiro_-_Copia_2_.png?updatedAt=1685974859826");
    background-repeat: repeat;
    background-size: 60px;
    overflow-x: hidden;
}

#loading-container{
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #D6CDC8;
    // display: none;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: #D6CDC8;
    background-image: url("https://ik.imagekit.io/artim/birgadeiro_-_Copia_2_.png?updatedAt=1685974859826");
    background-repeat: repeat;
    background-size: 60px;
    z-index: 1000;
}

.logo-shape{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    animation: logoshape 7s linear infinite;
}

.logo-name{
    position: absolute;
    width: 55%;
    z-index: 10;
    margin-right: 5px;
}

.logo-shape-container{
    position: absolute;
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes logoshape {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}

.logo{
    position: relative;
    width: 40%;
    margin-top: 20px;
}

#slide-container{
    position: relative;
    width: 90%;
    height: 300px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    #slide-previous{
        position: absolute;
        left: -14px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        background: none;
        border: none;
        outline: none;
        i{
            position: absolute;
            font-size: 40px;
            color: #482B14;
        }
    }
    #slide-next{
        position: absolute;
        right: -14px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        background: none;
        border: none;
        outline: none;
        i{
            position: absolute;
            font-size: 40px;
            color: #482B14;
        }
    }
}

#slide-main-image-container{
    position: absolute;
    height: 90%;
    width:  80%;
    border: 2px solid #482B14;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #ffffff;
    z-index: 100;
    filter: drop-shadow(6px 5px 19px rgba(0, 0, 0, 0.199));
    #slide-main-image{
        position: absolute;
        height: 100%;
        box-sizing: border-box;
    }
}

#slide-left-image-container{
    position: absolute;
    height: 70%;
    width:  200px;
    border: 2px solid #482B14;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #ffffff;
    margin-right: 110px;
    #slide-left-image{ 
        position: absolute;
        height: 100%;
        box-sizing: border-box;
    }
}

#slide-right-image-container{
    position: absolute;
    height: 70%;
    width:  200px;
    border: 2px solid #482B14;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #ffffff;
    margin-left: 110px;
    #slide-right-image{ 
        position: absolute;
        height: 100%;
        box-sizing: border-box;
    }
}

#go-order{
    position: relative;
    width: 90%;
    background-color: #482B14;
    border: 2px solid #482B14;
    border-radius: 50px;
    height: 45px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    span{
        position: relative;
        font-size: 15px;
        font-weight: initial;
        color: #ffffff;
    }
    i{
        position: relative;
        color: #ffffff;
        font-size: 20px;
    }
    &:active{
        background: none;
        border: 2px solid #482B14;
        span{
            color: #482B14;
        }
        i{
            color: #482B14;
        }
    }
}

.custom-order{
    position: relative;
    width: 90%;
    height: 70px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    .counter-label{
        position: absolute;
        top: 5px;
        left: 5px;
        font-size: 17px;
        font-weight: bold;
        color: #482B14;
    }
    .value-label{
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 17px;
        font-weight: bold;
        color: #482B14;
    }
}

.order-counter-input-container{
    position: absolute;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #482B14;
    border-radius: 50px;
    background-color: #ffffff;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    #order-counter{
        position: absolute;
        left: 43px; 
        font-size: 17px;
        font-weight: bold;
        color: #482B14;
    }
    #order-value{
        position: absolute;
        right: 15px; 
        font-size: 17px;
        font-weight: bold;
        color: #482B14;
    }
}

#order-value-previous{
    position: absolute;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background: none;
    border: none;
    outline: none;
    i{
        position: absolute;
        font-size: 40px;
        color: #482B14;
    }
}

#order-value-next{
    position: absolute;
    left: 85px; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background: none;
    border: none;
    outline: none;
    i{
        position: absolute;
        font-size: 40px;
        color: #482B14;
    }
}

.social-media-container{
    position: relative;
    width: 50%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 30px;
    padding-bottom: 100px;
    border-top: 1px solid #482b1431;
    padding-top: 20px;
    button{
        position: relative;
        background: none;
        border: none;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
        i{
            position: absolute;
            position: relative;
            font-size: 30px;
            color:  #482B14;
        }
    } 
}

@keyframes slideRight{
    from{
        margin-left: 0px;
    }
    to{
        margin-left: 40px;
    }
}

@keyframes slideLeft{
    from{
        margin-right: 0px;
    }
    to{
        margin-right: 40px;
    }
}